@import "tailwindcss";

@theme inline {
  --color-primary: #304E77;
  --color-secondary: #87CEEB;
  --color-text-primary: #1D1F28;
  --color-text-gray: #7C7C7C;
  --color-bg-gray: #F5F5F5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-montserrat);
}