@import "tailwindcss";

@theme inline {
  --color-primary: #304E77;
  --color-secondary: #87CEEB;
  --color-text-primary: #1D1F28;
  --color-text-gray: #7C7C7C;
  --color-bg-gray: #F5F5F5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-montserrat);
}


/* Width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #64748b;
  /* slate-500 */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & old Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

button {
  cursor: pointer;
}

.column-no-break-container {
    columns: 2;
    column-gap: 24px;
}

.column-no-break-container>div {
    break-inside: avoid;
    margin-top: 24px;
}

@media only screen and (max-width: 768px) {
    .column-no-break-container {
        columns: 1;
    }
}